<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Simulador de INSS e IRPF</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}" />
</head>
<body>
  <div class="container">
    <h1>Simulador de IRPF</h1>

    <form class="form">
      <div class="form-group">
        <label for="salario">Salário</label>
        <input type="number" id="salario" name="salario" placeholder="Informe o salário" />
      </div>

      <div class="form-group">
        <label for="segurado">Segurado</label>
        <select id="segurado" name="segurado" onchange="verificarModalidades()">
            <option value="">Selecione</option>
            <option value="empregado" >Empregado</option>
            <option value="trabalhador avulso">Trabalhador Avulso</option>
            <option value="empregado doméstico">Empregado Doméstico</option>
            <option value="contribuinte individual">Contribuinte Individual</option>
            <option value="segurado facultativo">Segurado Facultativo</option>
            <option value="segurado especial">Segurado Especial</option>
        </select>
      </div>

      <div class="form-group">
        <label for="dependentes">Dependentes</label>
        <input type="number" id="dependentes" name="dependentes" placeholder="Quantidade de dependentes"/>
      </div>

      <div class="form-group">
        <label for="pensao">Pensão</label>
        <input type="number" id="pensao" name="pensao" placeholder="Valor da pensão"/>
      </div>

      <div id="div-modalidades" class="form-group">
        <label for="modalidades">Modalidades</label>
        <select id="modalidades" name="modalidades">
          <option value="">Selecione</option>
        </select>
      </div>

      <div class="form-actions">
        <button type="submit" class="submit-btn">IRPF</button>
        <button type="submit" class="submit-btn">INSS</button>
        <button type="button" class="secondary-btn">Voltar</button>
      </div>
    </form>
  </div>

  <script src="{{ url_for('static', filename='js/modalidade.js') }}"></script>
</body>
</html>